/*============================================================================
 = Variable Declare
==============================================================================*/
$font_body: 'Roboto', sans-serif;
$font_heading: 'Nunito', sans-serif;
$color_primary: #2d5be3;
$color_secondary: #34b7f1;
$color_body: #646464;
$color_light: #ffffff;
$color_dark: #111111;
$color_black: #000000;
$dark_bg_text_color: #8793a3;
$transition: all .3s ease-in-out;




